<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript">
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	var placeHoledStyle = {
    		    normal:{
    		        barBorderColor:'rgba(0,0,0,0)',
    		        color:'rgba(0,0,0,0)'
    		    },
    		    emphasis:{
    		        barBorderColor:'rgba(0,0,0,0)',
    		        color:'rgba(0,0,0,0)'
    		    }
    		};
    		var dataStyle = { 
    		    normal: {
    		        label : {
    		            show: true,
    		            position: 'insideLeft',
    		            formatter: '{c}%'
    		        }
    		    }
    		};
    		option = {
    		    title: {
    		        text: '多维条形图',
    		        subtext: 'From ExcelHome',
    		        sublink: 'http://e.weibo.com/1341556070/AiEscco0H'
    		    },
    		    tooltip : {
    		        trigger: 'axis',
    		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    		        },
    		        formatter : '{b}<br/>{a0}:{c0}%<br/>{a2}:{c2}%<br/>{a4}:{c4}%<br/>{a6}:{c6}%'
    		    },
    		    legend: {
    		        y: 55,
    		        itemGap : document.getElementById('main').offsetWidth / 8,
    		        data:['GML', 'PYP','WTC', 'ZTW']
    		    },
    		    toolbox: {
    		        show : true,
    		        feature : {
    		            mark : {show: true},
    		            dataView : {show: true, readOnly: false},
    		            restore : {show: true},
    		            saveAsImage : {show: true}
    		        }
    		    },
    		    grid: {
    		        y: 80,
    		        y2: 30
    		    },
    		    xAxis : [
    		        {
    		            type : 'value',
    		            position: 'top',
    		            splitLine: {show: false},
    		            axisLabel: {show: false}
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'category',
    		            splitLine: {show: false},
    		            data : ['重庆', '天津', '上海', '北京']
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'GML',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle : dataStyle,
    		            data:[38, 50, 33, 72]
    		        },
    		        {
    		            name:'GML',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle: placeHoledStyle,
    		            data:[62, 50, 67, 28]
    		        },
    		        {
    		            name:'PYP',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle : dataStyle,
    		            data:[61, 41, 42, 30]
    		        },
    		        {
    		            name:'PYP',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle: placeHoledStyle,
    		            data:[39, 59, 58, 70]
    		        },
    		        {
    		            name:'WTC',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle : dataStyle,
    		            data:[37, 35, 44, 60]
    		        },
    		        {
    		            name:'WTC',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle: placeHoledStyle,
    		            data:[63, 65, 56, 40]
    		        },
    		        {
    		            name:'ZTW',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle : dataStyle,
    		            data:[71, 50, 31, 39]
    		        },
    		        {
    		            name:'ZTW',
    		            type:'bar',
    		            stack: '总量',
    		            itemStyle: placeHoledStyle,
    		            data:[29, 50, 69, 61]
    		        }
    		    ]
    		};
    		                                                                                             
    	var myChar = echarts.init(document.getElementById('main'));
    	myChar.clear();
    	myChar.showLoading({text: '正在努力的读取数据中...'});
    	myChar.setOption(option, true);
    	myChar.hideLoading();
        	
	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>