<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript">
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	option = {
    		    tooltip : {
    		        trigger: 'axis'
    		    },
    		    legend: {
    		        data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
    		    },
    		    toolbox: {
    		        show : true,
    		        feature : {
    		            mark : {show: true},
    		            dataView : {show: true, readOnly: false},
    		            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
    		            restore : {show: true},
    		            saveAsImage : {show: true}
    		        }
    		    },
    		    calculable : true,
    		    xAxis : [
    		        {
    		            type : 'category',
    		            boundaryGap : false,
    		            data : ['周一','周二','周三','周四','周五','周六','周日']
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'value'
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'邮件营销',
    		            type:'line',
    		            stack: '总量',
    		            itemStyle: {normal: {areaStyle: {type: 'default'}}},
    		            data:[120, 132, 101, 134, 90, 230, 210]
    		        },
    		        {
    		            name:'联盟广告',
    		            type:'line',
    		            stack: '总量',
    		            itemStyle: {normal: {areaStyle: {type: 'default'}}},
    		            data:[220, 182, 191, 234, 290, 330, 310]
    		        },
    		        {
    		            name:'视频广告',
    		            type:'line',
    		            stack: '总量',
    		            itemStyle: {normal: {areaStyle: {type: 'default'}}},
    		            data:[150, 232, 201, 154, 190, 330, 410]
    		        },
    		        {
    		            name:'直接访问',
    		            type:'line',
    		            stack: '总量',
    		            itemStyle: {normal: {areaStyle: {type: 'default'}}},
    		            data:[320, 332, 301, 334, 390, 330, 320]
    		        },
    		        {
    		            name:'搜索引擎',
    		            type:'line',
    		            stack: '总量',
    		            itemStyle: {normal: {areaStyle: {type: 'default'}}},
    		            data:[820, 932, 901, 934, 1290, 1330, 1320]
    		        }
    		    ]
    		};
    	var myChar = echarts.init(document.getElementById('main'));
    	myChar.clear();
    	myChar.showLoading({text: '正在努力的读取数据中...'});
    	myChar.setOption(option, true);
    	myChar.hideLoading();
        	
	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>