<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript" src="resource/js/echart/eventRiver2_data.js"></script>
<script type="text/javascript">
	var timeTicket;
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	var legendName = [];
    	for (var i = 0, l = eventRiver2Data.length; i < l; i++) {
    	    legendName.push(eventRiver2Data[i].name);
    	    eventRiver2Data[i].itemStyle = {
    	        normal: {
    	            label: {
    	                show:false
    	            }
    	        },
    	        emphasis: {
    	            label: {
    	                show:false
    	            }
    	        }
    	    }
    	}

    	option = {
    	    title : {
    	        text: 'Event River',
    	        subtext: '纯属虚构'
    	    },
    	    tooltip : {
    	        trigger: 'item',
    	        enterable: true
    	    },
    	    legend: {
    	        data: legendName
    	    },
    	    toolbox: {
    	        show : true,
    	        feature : {
    	            mark : {show: true},
    	            restore : {show: true},
    	            saveAsImage : {show: true}
    	        }
    	    },
    	    xAxis : [
    	        {
    	            type : 'time',
    	            boundaryGap: [0.05,0.1]
    	        }
    	    ],
    	    series : eventRiver2Data
    	};
    	                    
    		var myChart = echarts.init(document.getElementById('main'));
        	myChart.clear();
        	myChart.showLoading({text: '正在努力的读取数据中...'});
        	myChart.setOption(option, true);
        	myChart.hideLoading();

	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>