<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript" src="resource/js/echart/timelineOption.js"></script>
<script type="text/javascript">
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	option = {
    		    timeline:{
    		        data:[
    		            '2002-01-01','2003-01-01','2004-01-01','2005-01-01','2006-01-01',
    		            '2007-01-01','2008-01-01','2009-01-01','2010-01-01','2011-01-01'
    		        ],
    		        label : {
    		            formatter : function(s) {
    		                return s.slice(0, 4);
    		            }
    		        },
    		        autoPlay : true,
    		        playInterval : 1000
    		    },
    		    options:[
    		        {
    		            title : {
    		                'text':'2002全国宏观经济关联分析（GDP vs 房地产）',
    		                'subtext':'数据来自国家统计局'
    		            },
    		            tooltip : {
    		                trigger: 'axis',
    		                showDelay : 0,
    		                axisPointer:{
    		                    show: true,
    		                    type : 'cross',
    		                    lineStyle: {
    		                        type : 'dashed',
    		                        width : 1
    		                    }
    		                }
    		            },
    		            toolbox : {
    		                'show':true, 
    		                orient : 'vertical',
    		                x: 'right', 
    		                y: 'center',
    		                'feature':{
    		                    'mark':{'show':true},
    		                    'dataView':{'show':true,'readOnly':false},
    		                    'restore':{'show':true},
    		                    'saveAsImage':{'show':true}
    		                }
    		            },
    		            grid : {'y':80,'y2':100},
    		            xAxis : [{
    		                'type':'value',
    		                'name':'房地产（亿元）',
    		                'max':3400
    		            }],
    		            yAxis : [{
    		                'type':'value',
    		                'name':'GDP（亿元）',
    		                'max':53500
    		            }],
    		            series : [
    		                {
    		                    'name':'GDP',
    		                    'type':'scatter',
    		                    markLine : {
    		                        data : [
    		                            {type : 'average', name: 'y平均值', itemStyle:{normal:{borderColor:'red'}}},
    		                            {type : 'average', name: 'x平均值', valueIndex : 0, itemStyle:{normal:{borderColor:'red'}}}
    		                        ]
    		                    },
    		                    symbolSize : 5,
    		                    itemStyle: {
    		                        normal : {
    		                            label : {
    		                                show: true,
    		                                formatter : '{b}'
    		                            }
    		                        }
    		                    },
    		                    'data': dataMap.dataGDP_Estate['2002']
    		                }
    		            ]
    		        },
    		        {
    		            title : {'text':'2003全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2003']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2004全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2004']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2005全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2005']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2006全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2006']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2007全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2007']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2008全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2008']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2009全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2009']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2010全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2010']}
    		            ]
    		        },
    		        {
    		            title : {'text':'2011全国宏观经济关联分析（GDP vs 房地产）'},
    		            series : [
    		                {'data': dataMap.dataGDP_Estate['2011']}
    		            ]
    		        }
    		    ]
    		};
    		                    
    	var myChar = echarts.init(document.getElementById('main'));
    	myChar.clear();
    	myChar.showLoading({text: '正在努力的读取数据中...'});
    	myChar.setOption(option, true);
    	myChar.hideLoading();
        	
	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>