<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript">
	var timeTicket;
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	option = {
    		    tooltip : {
    		        formatter: "{a} <br/>{b} : {c}%"
    		    },
    		    toolbox: {
    		        show : true,
    		        feature : {
    		            mark : {show: true},
    		            restore : {show: true},
    		            saveAsImage : {show: true}
    		        }
    		    },
    		    series : [
    		        {
    		            name:'业务指标',
    		            type:'gauge',
    		            detail : {formatter:'{value}%'},
    		            data:[{value: 50, name: '完成率'}]
    		        }
    		    ]
    		};

    		
    		                                   
    		var myChart = echarts.init(document.getElementById('main'));
        	myChart.clear();
        	myChart.showLoading({text: '正在努力的读取数据中...'});
        	myChart.setOption(option, true);
        	myChart.hideLoading();
        	
        	clearInterval(timeTicket);
    		timeTicket = setInterval(function (){
    		    option.series[0].data[0].value = (Math.random()*100).toFixed(2) - 0;
    		    myChart.setOption(option, true);
    		},2000);
	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>