<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Echarts12</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript">
	var timeTicket;
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	option = {
    		    title : {
    		        text: '树图',
    		        subtext: '虚构数据'
    		    },
    		    toolbox: {
    		        show : true,
    		        feature : {
    		            mark : {show: true},
    		            dataView : {show: true, readOnly: false},
    		            restore : {show: true},
    		            saveAsImage : {show: true}
    		        }
    		    },
    		    calculable : false,

    		    series : [
    		        {
    		            name:'树图',
    		            type:'tree',
    		            orient: 'vertical',  // vertical horizontal
    		            rootLocation: {x: 'center',y: 50}, // 根节点位置  {x: 100, y: 'center'}
    		            nodePadding: 1,
    		            itemStyle: {
    		                normal: {
    		                    label: {
    		                        show: false,
    		                        formatter: "{b}"
    		                    },
    		                    lineStyle: {
    		                        color: '#48b',
    		                        shadowColor: '#000',
    		                        shadowBlur: 3,
    		                        shadowOffsetX: 3,
    		                        shadowOffsetY: 5,
    		                        type: 'curve' // 'curve'|'broken'|'solid'|'dotted'|'dashed'

    		                    }
    		                },
    		                emphasis: {
    		                    label: {
    		                        show: true
    		                    }
    		                }
    		            },
    		            
    		            data: [
    		                {
    		                    name: '根节点',
    		                    value: 6,
    		                    children: [
    		                        {
    		                            name: '节点1',
    		                            value: 4,
    		                            children: [
    		                                {
    		                                    name: '叶子节点1',
    		                                    value: 4
    		                                },
    		                                {
    		                                    name: '叶子节点2',
    		                                    value: 4
    		                                },
    		                                {
    		                                    name: '叶子节点3',
    		                                    value: 2
    		                                },
    		                                 {
    		                                    name: '叶子节点4',
    		                                    value: 2
    		                                },
    		                                {
    		                                    name: '叶子节点5',
    		                                    value: 2
    		                                },
    		                                {
    		                                    name: '叶子节点6',
    		                                    value: 4
    		                                }
    		                            ]
    		                        },
    		                        {
    		                            name: '节点2',
    		                            value: 4,
    		                            children: [{
    		                                name: '叶子节点7',
    		                                value: 4
    		                            },
    		                            {
    		                                name: '叶子节点8',
    		                                value: 4
    		                            }]
    		                        },
    		                        {
    		                            name: '节点3',
    		                            value: 1,
    		                            children: [
    		                                {
    		                                    name: '叶子节点9',
    		                                    value: 4
    		                                },
    		                                {
    		                                    name: '叶子节点10',
    		                                    value: 4
    		                                },
    		                                {
    		                                    name: '叶子节点11',
    		                                    value: 2
    		                                },
    		                                 {
    		                                    name: '叶子节点12',
    		                                    value: 2
    		                                }
    		                            ]
    		                        }
    		                    ]
    		                }
    		            ]
    		        }
    		    ]
    		};
    		                    
    		var myChart = echarts.init(document.getElementById('main'));
        	myChart.clear();
        	myChart.showLoading({text: '正在努力的读取数据中...'});
        	myChart.setOption(option, true);
        	myChart.hideLoading();

	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>