<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>EchartsMap1</title>
<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/echart/echarts-all.js"></script>
<script type="text/javascript">
    $(function(){
    	$("#main").css("width",getWinWidth());
    	$("#main").css("height",getWinHeight());
    	/* var ecConfig = require('echarts/config');
    	var zrEvent = require('zrender/tool/event'); */
    	
    	var curIndx = 0;
    	var mapType = [
    	    'china',
    	    // 23个省
    	    '广东', '青海', '四川', '海南', '陕西', 
    	    '甘肃', '云南', '湖南', '湖北', '黑龙江',
    	    '贵州', '山东', '江西', '河南', '河北',
    	    '山西', '安徽', '福建', '浙江', '江苏', 
    	    '吉林', '辽宁', '台湾',
    	    // 5个自治区
    	    '新疆', '广西', '宁夏', '内蒙古', '西藏', 
    	    // 4个直辖市
    	    '北京', '天津', '上海', '重庆',
    	    // 2个特别行政区
    	    '香港', '澳门'
    	];
    	
    	
    	
    	//图表
    	var option = null;
        var myChart = echarts.init(document.getElementById('main'));
        myChart.clear();
        myChart.showLoading({text: '正在努力的读取数据中...'});
        $.getJSON('./echartMap/selectMap2.action', function (data) {
            if (data.errorCode == 0) {
            	option = data.data;
            	myChart.setOption(option, true);
            	myChart.hideLoading();
            } else {
                alert('提示', data.msg);
            }
        });
        document.getElementById('main').onmousewheel = function (e){
    	    var event = e || window.event;
    	    curIndx += zrender.tool.event.getDelta(event) > 0 ? (-1) : 1;
    	    if (curIndx < 0) {
    	        curIndx = mapType.length - 1;
    	    }
    	    var mt = mapType[curIndx % mapType.length];
    	    if (mt == 'china') {
    	        option.tooltip.formatter = '滚轮切换或点击进入该省<br/>{b}';
    	    }
    	    else{
    	        option.tooltip.formatter = '滚轮切换省份或点击返回全国<br/>{b}';
    	    }
    	    option.series[0].mapType = mt;
    	    option.title.subtext = mt + ' （滚轮或点击切换）';
    	    myChart.setOption(option, true);
    	    
    	    zrender.tool.event.stop(event);
    	};
    	myChart.on(echarts.config.EVENT.MAP_SELECTED, function (param){
    	    var len = mapType.length;
    	    var mt = mapType[curIndx % len];
    	    if (mt == 'china') {
    	        // 全国选择时指定到选中的省份
    	        var selected = param.selected;
    	        for (var i in selected) {
    	            if (selected[i]) {
    	                mt = i;
    	                while (len--) {
    	                    if (mapType[len] == mt) {
    	                        curIndx = len;
    	                    }
    	                }
    	                break;
    	            }
    	        }
    	        option.tooltip.formatter = '滚轮切换省份或点击返回全国<br/>{b}';
    	    }
    	    else {
    	        curIndx = 0;
    	        mt = 'china';
    	        option.tooltip.formatter = '滚轮切换或点击进入该省<br/>{b}';
    	    }
    	    option.series[0].mapType = mt;
    	    option.title.subtext = mt + ' （滚轮或点击切换）';
    	    myChart.setOption(option, true);
    	});
	});
    function getWinWidth(minWidth){
    	if(!minWidth)minWidth = 0;
		var width = ($(document).width()-1);
		return (minWidth > width) ? minWidth:width;
    };
    function getWinHeight(){
    	return ($(document).height());
    };
</script>
</head>
<body style="padding:0">
<div style="clear: both;">
    <div id="main"></div>
</div>
</body>
</html>